*{
    box-sizing: border-box;
}
.boardDiv{
    display: flex;
}

.caseNumDiv
{
    padding: 20px 10px;
    width: 400px;
    height: auto;
    border: solid 1px black;
   
   
}


.caseNumDiv span{
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-image: url("../Icons/case.png");
    background-size: 70px 70px !important;
    background-repeat: no-repeat;
    background-size: auto;
    /* border: solid 1px black; */
    font-size: 30px;
    color: white;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.caseNumDiv span:hover
{
    background-image: url("../Icons/casewhite.png");
    cursor: pointer;
    color: black;
}

#allCaseValue {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#allCaseValue td, #allCaseValue th {
    border: 1px solid #ddd;
    padding: 8px;
}

#allCaseValue tr:nth-child(even){background-color: #f2f2f2;}

#allCaseValue tr:hover {background-color: #ddd;}

#allCaseValue th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.actionDiv{
    display:flex;
}
.myCaseDiv
{
    border: 1px solid;
    width: 200px;
    height: 150px;
    background: url("../Icons/mycase.png");
    background-size: 100px 100px !important;
    background-repeat: no-repeat;
    background-position: 20% 50%; 
}

.myCaseDiv p{
    font-size: 40px;
    margin-left: 25%;
}
.myCaseDiv img, .BankerDiv img{
    width: 100px;
    height: 100px;
    
}
.BankerDiv
{
    border: 1px solid;
    width: 400px;
}

#offerAmount{
    font-size: 30px;
    
}

.dondDiv
{
    width: 600px;
    border: solid 1px;
}

.dondDiv button
{
    width: 297px;
    height: 30px;
   
}

.clicked{
    /* display: none !important; */
    background: none !important;
    font-size: 0 !important; 
    
}

.picked{
    color: red;
    text-decoration: line-through;
}

#actionReq{
    color: red;
}

#offerAmount{
    font:20px;
    color: green;
}

h4{
    text-decoration: underline;
}
